<template>
  <div class="aside container">

    <div v-if="showModal">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Import a new shop Dataset</h5>
                  <button type="button" class="close btn bg-transparent text-white" data-dismiss="modal"
                          aria-label="Close">
                    <span aria-hidden="true" @click="showModal = false">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <form @submit.prevent="onSubmit" class="w-100 d-flex justify-content-evenly align-items-center">
                    <input type="file"/>
                    <input type="submit" class="btn btn-primary" value="Import"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

    <div class="titleContainer">
      <i class="bi bi-shop"></i>
      <h1>Shop Seeker</h1>
    </div>
    <div class="container d-flex ShopListingContainer">

      <h5><u>DATASETS</u></h5>
      <div class="form-check mt-2 w-100 d-flex justify-content-center flex-column">

        <div :key="index" v-for="index in shopDatasets">
          <div class=" hoverPointer d-flex align-items-center">
            <input class="form-check-input hoverPointer" :value="index" v-model="currentDataSet"
                   @change="$emit('setCurrentDataSet', currentDataSet-1)" type="radio" :id="index-1">
            <label class="form-check-label hoverPointer customFormCheck" :for="index-1">
              Shop set {{ index }}
            </label>
          </div>
        </div>

        <div>
          <input type="button" title="Lasso" id="btnAdd" class="btn btn-check" value="Lasso" @click="showModal = true">
          <label class="btn text-white btn-transparent" for="btnAdd"><i class="bi bi-plus-circle"></i></label>
        </div>
      </div>

      <h5><u>SELECTION TYPE</u></h5>
      <div class="currentSelectionTypeLabel">{{ this.selectionType }}</div>
      <div class="form-check containerSelectionType hoverPointer d-flex align-items-center mt-2">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" title="Circle" class="btn-check" name="btnradio" value="Circle" id="btnradio1"
                 v-model="selectionType" @change="this.updateSelectionType">
          <label class="btn btn-primary labelSelection" for="btnradio1"><i class="bi bi-circle"></i></label>

          <input type="radio" title="Square" class="btn-check" name="btnradio2" value="Square" id="btnradio2"
                 v-model="selectionType" @change="this.updateSelectionType">
          <label class="btn btn-primary labelSelection" for="btnradio2"><i class="bi bi-square"></i></label>

          <input type="radio" title="Lasso" class="btn-check" name="btnradio3" value="Lasso" id="btnradio3"
                 v-model="selectionType" @change="this.updateSelectionType">
          <label class="btn btn-primary labelSelection" for="btnradio3"><i class="bi bi-pen"></i></label>

          <input type="radio" title="Area" class="btn-check" name="btnradio4" value="Area" id="btnradio4" checked
                 v-model="selectionType" @change="this.updateSelectionType">
          <label class="btn btn-primary labelSelection" style="color: white" for="btnradio4"><i class="bi bi-front"></i></label>
        </div>
      </div>
      <div class="container container_parameters m-1" v-if="this.selectionType=='Circle'">
        <div class="form-group row align-items-center">
          <label for="radiusInput" class="col-sm-7 col-form-label labelParameters">Radius Size (km)</label>
          <div class="col-sm-5">
            <input type="number" @change="updateRadiusSize" class="form-control btn color-white underlineWhite"
                   id="radiusInput" placeholder="20" v-model="radiusSize">
          </div>
          <p class="launchLabel"><i class="bi bi-hand-index"></i> Now you can pick a position !</p>
        </div>
      </div>
      <div class="container container_parameters mt-3" v-if="this.selectionType=='Lasso'">
        <div class="form-group row align-items-center">
          <p v-if="this.squareStep==1"><i class="bi bi-hand-index"></i> You can now slide your cursor on the map</p>
        </div>
      </div>
      <div class="container container_parameters mt-3" v-if="this.selectionType=='Square'">
        <div class="form-group row align-items-center">
          <p v-if="this.squareStep==1"><i class="bi bi-hand-index"></i> Now you can select a first corner</p>
          <p v-if="this.squareStep==2"><i class="bi bi-hand-index"></i> Now select the opposite corner</p>
        </div>
      </div>
      <h5 class="mt-3"><u>LAYERS SELECTION</u></h5>
      <div class="form-check hoverPointer d-flex align-items-center mt-2">
        <input class="form-check-input hoverPointer" v-model="provinceCheckbox"
               @change="$emit('provinceChecked', provinceCheckbox)" type="checkbox" id="provinceCheckbox"
               :disabled="selectionType!='Area'">
        <label class="form-check-label hoverPointer customFormCheck" for="provinceCheckbox">
          Provinces
        </label>
      </div>
      <div class="form-check hoverPointer d-flex align-items-center mt-2">
        <input class="form-check-input hoverPointer" v-model="regionsCheckbox"
               @change="$emit('regionChecked', regionsCheckbox)" type="checkbox" id="regionsCheckbox"
               :disabled="selectionType!='Area'">
        <label class="form-check-label hoverPointer customFormCheck" for="regionsCheckbox">
          Regions
        </label>
      </div>
      <div class="form-check hoverPointer d-flex align-items-center mt-2">
        <input class="form-check-input hoverPointer" v-model="shopCheckbox" @change="$emit('shopChecked', shopCheckbox)"
               type="checkbox" id="shopCheckbox">
        <label class="form-check-label hoverPointer customFormCheck" for="shopCheckbox">
          Shops
        </label>
      </div>
      <h5 class="mt-3"><u>SHOP LISTING</u></h5>
      <div style="width: 100%" :key="shop.properties.name" v-for="shop in shops">
        <Shop @selectShopAside="selectShopAside" :selectedShops="selectedShops" :shop="shop"/>
      </div>
      <div v-if="shops.length ==0">
        <div class="m-2">No shop found.</div>
      </div>
    </div>
  </div>
</template>

<script>
import Shop from "@/components/Shop";

export default {
  name: "Aside",
  components: {
    Shop,
  },
  props: {
    shops: Array,
    selectedShopsTmp: Array,
    notificationProvinceCheckbox: Boolean,
    notificationRegionsCheckbox: Boolean,
    notificationShopsCheckbox: Boolean,
    squareStep: Number,
    shopDatasets: Number
  },
  data() {
    return {
      provinceCheckbox: null,
      regionsCheckbox: null,
      shopCheckbox: null,
      selectedShops: [],
      selectionType: 'Area',
      currentDataSet: 1,
      radiusSize: "50",
      showModal: false
    }
  },
  watch: {
    $props: {
      handler() {
        this.updateSelection();
        this.updateCheckboxes();
      },
      deep: true,
      immediate: true,
    },
  },
  created() {
    this.updateSelection();
  },
  methods: {
    /** Updates the shop list */
    updateSelection() {
      this.selectedShops = this.selectedShopsTmp;
    },

    /** Updates the state of the checboxes automatically */
    updateCheckboxes() {
      this.provinceCheckbox = this.notificationProvinceCheckbox;
      this.regionsCheckbox = this.notificationRegionsCheckbox;
      this.shopCheckbox = this.notificationShopsCheckbox;
    },

    /** Configures selection from listing select */
    selectShopAside(shopCoordinates) {
      this.selectedShops = [shopCoordinates];
      this.$emit('selectShopAside', shopCoordinates);
    },

    /** When the selection type is changed */
    updateSelectionType() {
      this.$emit('changeSelectionType', this.selectionType);
      if (this.selectionType == "Circle") {
        this.$emit('updateRadiusSize', this.radiusSize);
      }
    },

    /** When the radius size is changed (smooth rendering) */
    updateRadiusSize() {
      if (this.selectionType == "Circle") {
        this.$emit('updateRadiusSize', this.radiusSize);
      }
    },

    /** When the file is submited
     * It has to be connected to a server to operate
     * For now it just shows an alert, but if you want to add your own dataset, you can manually add it in the assets/geoDatasets/shopSets folder
     * */
    onSubmit() {
      this.showModal = false;
      alert("Dataset (theorically) imported to the server, you can add manually the file the the folder if you want to have multiple datasets.");
    },
  },
}
</script>

<style scoped>
.aside {
  background: #2c3e50;
  width: 15%;
  min-width: 18em;
  height: 100%;
  text-align: center;
  overflow-y: auto;
}

.container_parameters {
  width: 100%;
  max-width: 250px;
  color: white;
}

.bi-shop {
  color: #8d8169;
  font-size: 3em;
}

.titleContainer {
  margin: 30px 0 50px 0;
}

.ShopListingContainer {
  flex-direction: column;
  align-items: baseline;
}

.hoverPointer:hover {
  cursor: pointer;
}

.labelSelection {
  font-size: 1.2em;
}

.labelParameters {
  font-size: 0.8em;
}

.customFormCheck {
  margin-left: 1em;
}

.form-group {
  justify-content: space-around;
}

.underlineWhite {
  color: #8d8169 !important;
}

.launchLabel {
  color: #0d6dfc;
  text-align: end;
  font-size: 0.7em;
}

.containerSelectionType {
  width: 100%;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.currentSelectionTypeLabel {
  color: #9a9d9f;
  width: 100%;
  text-align: center;
}

.modal-content {
  background: #2c3e50;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>