<template>
  <l-map ref="myMap" @update:zoom="zoomUpdate" @ready="storeMap" @click="mapClick" class="map" :zoom="zoom"
         :center="center">
    <l-tile-layer :url="url"/>
    <div v-if="shopCheckbox">
      <div :key="shop.properties.name" v-for="shop in shops">
        <l-marker ref="marker" @click="shopSelected" :name="shop.properties.name" :lat-lng="shop.geometry.coordinates">
          <l-popup ref="popup">
            <h5>{{ shop.properties.name }}</h5>
            <p>{{ shop.properties.description }}</p>
          </l-popup>
        </l-marker>
      </div>
    </div>
  </l-map>
</template>

<script>
import {LMap, LTileLayer, LMarker, LPopup} from 'vue2-leaflet';
import * as L from "leaflet";
import "leaflet-lasso";

export default {
  name: "LeafletMap",
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
  },
  props: {
    provinceCheckbox: Boolean,
    regionCheckbox: Boolean,
    shopCheckbox: Boolean,
    selectedShopAside: Object,
    selectionType: String,
    radiusSize: String,
    datasetIndex: Number
  },
  data() {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 5,
      center: [47.219, -71.641],
      canada_provinces: {},
      quebec_regions: {},
      shops: [],
      selectedShops: [],
      provinceCheckboxData: false,
      regionCheckboxData: false,
      map: null,
      currentLasso: null,
      currentCircle: null,
      currentSquare: null,
      squareStep: 1,
      squareCoordinates: [],
      shopDatasets: [],
      currentShopSet: 0
    }
  },
  watch: {
    $props: {
      handler() {
        this.updateFromProps();
      },
      deep: true,
      immediate: false,
    },
  },
  methods: {
    /** Once the map is loaded */
    storeMap() {
      this.initMap()
    },

    /** Importing data content */
    initMap() {
      this.map = this.$refs.myMap.mapObject;

      //importing to client side the dataset files
      this.shopDatasets = importAll(require.context('../assets/geoDatasets/shopSets', false));

      function importAll(r) {
        return r.keys().map(r);
      }

      //init layers
      const canada_provinces = require('../assets/geoDatasets/canadian_provinces.geojson')
      const quebec_regions = require('../assets/geoDatasets/quebec_regions.geojson') //from https://gist.github.com/carmoreira/73f4d87b7c42834669dd8f734b1e3a58#file-quebec_regions-geojson
      const shops = this.shopDatasets[this.currentShopSet];
      this.canada_provinces = canada_provinces;
      this.quebec_regions = quebec_regions;
      this.shops = shops.features;
      this.provinceCheckboxData = this.provinceCheckbox;
      this.regionCheckboxData = this.regionCheckbox;
      this.$emit('displayShopList', this.shops);
      this.$emit('updateShopDataSets', this.shopDatasets.length);

      this.currentLasso = L.lasso(this.map);
      this.map.on('lasso.finished', (event) => this.updateShopsLassoSelection(event));

      this.updateGeoJSONLayers();
    },

    /** Selection of a shop */
    updateFromProps() {
      if (this.currentShopSet != this.datasetIndex) {
        this.currentShopSet = this.datasetIndex;
        this.shops = this.shopDatasets[this.currentShopSet].features;
      }
      this.provinceCheckboxData = this.provinceCheckbox;
      this.regionCheckboxData = this.regionCheckbox;
      this.updateGeoJSONLayers();
      if (this.selectedShopAside.lat && this.selectedShopAside.lng) { //if a shop is selected from the listing
        this.center = [this.selectedShopAside.lat, this.selectedShopAside.lng];
        for (let i = 0; i < this.$refs.marker.length; i++) {
          if (this.$refs.marker[i].$vnode.componentOptions.propsData.latLng[0] == this.selectedShopAside.lat) {
            this.$refs.marker[i].mapObject.openPopup();
          }
        }
      }
    },

    /** Update the display of every layers */
    updateGeoJSONLayers() {
      //cleaning geojson layer
      let mapTmp = this.map;  //to access without 'this' in loop
      this.map.eachLayer(function (layer) {
        if (layer.tagName == "GeoJSON") {
          mapTmp.removeLayer(layer)
        }
      });

      //if selection type is Circle
      if (this.selectionType == "Circle") {
        if (this.currentSquare) {
          this.currentSquare.removeFrom(this.map);
        }
        if (this.tmpSquareMarker) {
          this.tmpSquareMarker.removeFrom(this.map)
        }
        if (this.currentLasso) {
          this.currentLasso.disable();
        }

        if (this.currentCircle) {
          let oldCirclePosition = this.currentCircle.getLatLng();
          if (this.currentCircle) {
            this.currentCircle.removeFrom(this.map);
          }
          this.currentCircle = L.circle(oldCirclePosition, {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: this.radiusSize * 1000
          }).addTo(this.map);
          this.updateShopsCircleSelection();
        } else {
          this.$emit('displayShopList', this.shops);
        }
      }

      //if selection type is Square
      if (this.selectionType == "Square") {
        if (this.currentCircle) {
          this.currentCircle.removeFrom(this.map);
        }
        if (this.currentLasso) {
          this.currentLasso.disable();
        }

        if (this.squareCoordinates.length == 1) {
          if (this.tmpSquareMarker) {
            this.tmpSquareMarker.removeFrom(this.map);
          }
          this.squareStep = 1;
          this.$emit('updateSquareStep', this.squareStep);
          this.$emit('displayShopList', this.shops);
        } else {
          if (this.squareCoordinates.length == 2) {
            if (this.currentSquare) {
              this.currentSquare.removeFrom(this.map);
            }
            if (this.currentSquare) {
              this.currentSquare = L.rectangle(this.squareCoordinates, {color: 'Red', weight: 1}).addTo(this.map);
              let tmpShops = this.checkShopsSquareSelection();
              this.$emit('displayShopList', tmpShops);
            }
          } else {
            this.$emit('displayShopList', this.shops);
          }
        }
      }

      //if selection type is Lasso
      if (this.selectionType == "Lasso") {
        if (this.currentCircle) {
          this.currentCircle.removeFrom(this.map);
        }
        if (this.currentSquare) {
          this.currentSquare.removeFrom(this.map);
        }
        if (this.tmpSquareMarker) {
          this.tmpSquareMarker.removeFrom(this.map);
        }
        if (this.currentLasso) {
          this.currentLasso.enable();
        }

        this.$emit('displayShopList', this.shops);
        L.control.lasso().addTo(this.map);
      }

      //if selection type is Area
      if (this.selectionType == "Area") {
        if (this.currentCircle) {
          this.currentCircle.removeFrom(this.map);
        }
        if (this.currentSquare) {
          this.currentSquare.removeFrom(this.map);
        }
        if (this.tmpSquareMarker) {
          this.tmpSquareMarker.removeFrom(this.map);
        }
        if (this.currentLasso) {
          this.currentLasso.disable();
        }

        if (this.provinceCheckboxData) {
          L.geoJSON(this.canada_provinces, {
            style: {color: '#3388ff'},
            onEachFeature: this.onEachProvince
          }).addTo(this.map);
        } else if (this.regionCheckboxData) {
          L.geoJSON(this.quebec_regions, {
            style: {color: '#ec7724'},
            onEachFeature: this.onEachRegion
          }).addTo(this.map);
        } else {
          this.$emit('displayShopList', this.shops)
        }
      }
    },

    /** Defining every province behaviour */
    onEachProvince(feature, layer) {
      layer.tagName = "GeoJSON"
      layer.on({
        click: () => this.provinceClick(feature, layer)
      });
      layer.on('mouseover', function () {
        this.setStyle({
          'fillColor': '#0000ff'
        });
      });
      layer.on('mouseout', function () {
        this.setStyle({
          'fillColor': '#3388ff'
        });
      });
    },

    /** Defining every region behaviour */
    onEachRegion(feature, layer) {
      layer.tagName = "GeoJSON"
      layer.on({
        click: () => this.regionClick(feature, layer)
      });
      layer.on('mouseover', function () {
        this.setStyle({
          'fillColor': '#e03a0b'
        });
      });
      layer.on('mouseout', function () {
        this.setStyle({
          'fillColor': '#ec7724'
        });
      });
    },

    /** Shop selected from map */
    shopSelected(marker) { //selection of 1 shop
      let shopInsideProvince = false;
      this.selectedShops.forEach(shop => {
        if (shop[0] == marker.latlng.lat && shop[1] == marker.latlng.lng) {
          shopInsideProvince = true;
        }
      });
      if (!shopInsideProvince) {
        this.$emit('displayShopList', this.shops);
      }
      this.selectedShops = [];
      this.selectedShops.push(marker.latlng);
      this.center = marker.latlng;
      this.$emit('selectedShops', this.selectedShops);
      this.updateGeoJSONLayers();
    },

    /** When click on a province */
    provinceClick(province, layer) {
      this.selectedShops = []
      let popup = L.popup();
      this.center = layer.getCenter();
      popup
          .setLatLng(layer.getCenter())
          .setContent(province.properties.PRFNAME)
          .openOn(this.map);
      this.shops.forEach((shop) => {
        if (this.isMarkerInsidePolygon(shop.geometry.coordinates, province.geometry.coordinates)) { //if shop belongs to province
          this.selectedShops.push(shop.geometry.coordinates);
        }
      });
      const tmpShops = this.shops.filter(e => {  //filter the shops in the province
        return this.selectedShops.includes(e.geometry.coordinates);
      })
      this.$emit('displayShopList', tmpShops);
    },

    /** When click on a shop */
    regionClick(region, layer) {
      this.selectedShops = [];
      let popup = L.popup();
      this.center = layer.getCenter();
      popup
          .setLatLng(layer.getCenter())
          .setContent(region.properties.res_nm_reg)
          .openOn(this.map);
      this.shops.forEach((shop) => {
        if (this.isMarkerInsidePolygon(shop.geometry.coordinates, region.geometry.coordinates)) { //if shop belongs to region
          this.selectedShops.push(shop.geometry.coordinates);
        }
      })
      const tmpShops = this.shops.filter(e => {  //filter the shops in the region
        return this.selectedShops.includes(e.geometry.coordinates);
      })
      this.$emit('displayShopList', tmpShops);
      this.updateGeoJSONLayers();
    },

    /** When the map is changed */
    zoomUpdate(zoomLevel) {
      if (zoomLevel != this.zoom) {
        this.zoom = zoomLevel;
        if (this.zoom <= 5) {
          this.provinceCheckboxData = true;
          this.regionCheckboxData = false;
        } else if (this.zoom == 6 || this.zoom == 7) {
          this.provinceCheckboxData = false;
          this.regionCheckboxData = true;
        } else {
          this.provinceCheckboxData = false;
          this.regionCheckboxData = false;
        }
        this.$emit('notifyProvinceCheckbox', this.provinceCheckboxData);
        this.$emit('notifyRegionsCheckbox', this.regionCheckboxData);
        if (this.selectionType == "Area") {
          this.updateGeoJSONLayers();
        }
      }
    },

    /** When click on the map*/
    mapClick(e) {
      if (this.selectionType == "Circle") {
        if (this.currentCircle) {
          this.currentCircle.removeFrom(this.map);
        }
        this.currentCircle = L.circle(e.latlng, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5,
          radius: this.radiusSize * 1000
        }).addTo(this.map);
        this.updateGeoJSONLayers();
      }
      if (this.selectionType == "Square") {
        if (this.squareStep == 1) {
          if (this.currentSquare) {
            this.currentSquare.removeFrom(this.map);
          }
          this.squareCoordinates = [[e.latlng.lat, e.latlng.lng]];
          let customMarker = new L.Icon({
            iconUrl: 'https://uc-emoji.azureedge.net/orig/d8/4c9a2cbf015ef33bba98dcd212e97e.png',
            iconSize: [35, 35],
            iconAnchor: [17, 30],
            shadowAnchor: [4, 62],
            popupAnchor: [-3, -76]
          });
          this.tmpSquareMarker = L.marker(e.latlng, {icon: customMarker}).addTo(this.map);
          this.squareStep = 2
        } else if (this.squareStep == 2) {
          this.squareCoordinates.push([e.latlng.lat, e.latlng.lng]);
          if (this.tmpSquareMarker) {
            this.tmpSquareMarker.removeFrom(this.map);
          }
          this.currentSquare = L.rectangle(this.squareCoordinates, {color: 'Red', weight: 1}).addTo(this.map);
          let tmpShops = this.checkShopsSquareSelection();
          this.$emit('displayShopList', tmpShops);
          this.squareStep = 1;
        }
        this.$emit('updateSquareStep', this.squareStep);
      }
    },

    /** Determine if the shop belongs to a polygon */
    isMarkerInsidePolygon(shopCoordinates, shape) {
      let polygon = L.polygon(shape);
      return (polygon.getBounds().contains([shopCoordinates[1], shopCoordinates[0]]));
    },

    /** Get the shop listing from the current square */
    checkShopsSquareSelection() {
      this.selectedShops = [];
      this.shops.forEach((shop) => {
        if (this.currentSquare.getBounds().contains(shop.geometry.coordinates)) { //if shop belongs to region
          this.selectedShops.push(shop.geometry.coordinates);
        }
      });
      let tmpShops = this.shops.filter(e => {  //filter the shops in the region
        return this.selectedShops.includes(e.geometry.coordinates);
      });
      return tmpShops;
    },

    /** Get the shop listing from the selection */
    updateShopsLassoSelection(shopsSelected) {
      let tmpShops = [];
      this.shops.forEach(shop => {
        shopsSelected.layers.forEach(selectedShop => {
          if (selectedShop.getLatLng().lat == shop.geometry.coordinates[0] && selectedShop.getLatLng().lng == shop.geometry.coordinates[1]) {
            tmpShops.push(shop)
          }
        });
      });
      this.$emit('displayShopList', tmpShops)
    },

    /** Get the shop listing from the current circle */
    updateShopsCircleSelection() {
      this.selectedShops = [];
      let tmpShops;
      this.shops.forEach((shop) => {
        if (this.map.distance(shop.geometry.coordinates, this.currentCircle.getLatLng()) < this.radiusSize * 1000) {
          this.selectedShops.push(shop.geometry.coordinates);
        }
        tmpShops = this.shops.filter(e => {  //filter the shops in the circle
          return this.selectedShops.includes(e.geometry.coordinates);
        });
      });
      this.$emit('displayShopList', tmpShops);
    }
  },
}
</script>

<style>
.map {
  height: 100%;
  width: 85%;
}

.leaflet-control-container {
  display: none;
}
</style>
