<template style="width: 100%">
  <div>
    <input type="button" :class="shopShow ? 'active': ''" @click="selectShopAside" :value="shop.properties.name"
           :name="shop.geometry.coordinates"/>
  </div>
</template>

<script>
export default {
  name: "Shop",
  props: {
    shop: Object,
    selectedShops: Array
  },
  data() {
    return {
      shopShow: false,
    }
  },
  watch: {
    $props: {
      handler() {
        this.updateSelection()
      },
      deep: true,
      immediate: true,
    },
  },
  created() {
    this.updateSelection()
  },
  methods: {
    /** When a shop is selected */
    selectShopAside(e) {
      const coordsTmp = e.target.name.split(',');
      let coords = {
        "lat": coordsTmp[0],
        "lng": coordsTmp[1]
      }
      const selectedShop = [];
      selectedShop.push();
      this.$emit('selectShopAside', coords);
    },

    /** Ajusts the shop listing */
    updateSelection() {
      if (this.selectedShops.length > 0) {
        this.selectedShops.forEach((selectedShop) => {
          this.shopShow = selectedShop.lat == this.shop.geometry.coordinates[0] && selectedShop.lng == this.shop.geometry.coordinates[1]
        })
      } else {
        this.shopShow = false
      }
    }
  },
}
</script>

<style scoped>
input {
  margin: 5px;
  border: none;
  border-bottom: wheat 1px solid;
  color: wheat;
  background-color: #2c3e50;
  padding: 15px 0 15px 0;
  width: 100%;
  text-align: left;
  transition: all .2s ease-in;
}

input:hover {
  transition: all .2s ease-in;
  color: #f1e4cb;
  font-size: 1.2em;
}

.active {
  color: white;
}
</style>