<template>
  <div id="app">
    <Aside
        @selectShopAside="selectShopAside"
        @provinceChecked="provinceChecked"
        @regionChecked="regionChecked"
        @shopChecked="shopCheckbox"
        @changeSelectionType="changeSelectionType"
        @updateRadiusSize="updateRadiusSize"
        @setCurrentDataSet="setCurrentDataSet"
        :shopDatasets="shopDatasets"
        :shops.sync="shops"
        :selectedShopsTmp="selectedShopsTmp"
        :notificationProvinceCheckbox="provinceCheckboxValue"
        :notificationRegionsCheckbox="regionCheckboxValue"
        :notificationShopsCheckbox="shopCheckboxValue"
        :squareStep="squareStep"
    />

    <LeafletMap
        @notifyProvinceCheckbox="provinceChecked"
        @notifyRegionsCheckbox="regionChecked"
        @displayShopList="displayShopList"
        @selectedShops="selectedShops"
        @updateSquareStep="updateSquareStep"
        @updateShopDataSets="updateShopDataSets"
        :provinceCheckbox="provinceCheckboxValue"
        :regionCheckbox="regionCheckboxValue"
        :shopCheckbox="shopCheckboxValue"
        :selectedShopAside="selectShopAsideTmp"
        :selectionType="selectionType"
        :radiusSize="radiusSize"
        :datasetIndex.sync="datasetIndex"
    />
  </div>
</template>

<script>
import Aside from "@/components/Aside";
import LeafletMap from "@/components/LeafletMap";

export default {
  name: 'App',
  components: {
    Aside,
    LeafletMap
  },
  data() {
    return {
      provinceCheckboxValue: null,
      regionCheckboxValue: null,
      shopCheckboxValue: null,
      shops: [],
      selectedShopsTmp: [],
      selectShopAsideTmp: {},
      selectionType: "Area",
      radiusSize: null,
      squareStep: 1,
      shopDatasets: null,
      datasetIndex: 0
    }
  },
  /** Initial app settings */
  created() {
    this.provinceCheckboxValue = true;
    this.regionCheckboxValue = false;
    this.shopCheckboxValue = true;
    this.datasetIndex = 0;
  },
  methods: {
    /** When the province checbox is changed state */
    provinceChecked(val) {
      this.provinceCheckboxValue = val;
    },

    /** When the region checbox is changed state */
    regionChecked(val) {
      this.regionCheckboxValue = val;
    },

    /** When the shop checbox is changed state */
    shopCheckbox(val) {
      this.shopCheckboxValue = val;
    },

    /** Updates the available shops */
    displayShopList(shops) {
      this.shops = shops;
      this.$forceUpdate();
    },

    /** When a shop (or multiples) is being clicked from the map */
    selectedShops(shops) {
      this.selectedShopsTmp = shops;
    },

    /** When a shop is being clicked from the listing */
    selectShopAside(shop) {
      this.selectShopAsideTmp = shop;
    },

    /** When the selection type is changed */
    changeSelectionType(selectionType) {
      this.selectionType = selectionType;
    },

    /** when the radius is changed */
    updateRadiusSize(radiusSize) {
      this.radiusSize = radiusSize;
    },

    /** when the radius is changed */
    updateShopDataSets(shopDatasets) {
      this.shopDatasets = shopDatasets;
    },

    /** when the radius is changed */
    setCurrentDataSet(index) {
      this.datasetIndex = index;
    },

    /** When the step square is changed */
    updateSquareStep(step) {
      this.squareStep = step;
    }
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: wheat;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
</style>
